<table align="center">
  <tr>
    <td>
      <label for="txtaccount">账 号:</label>
    </td>
    <td>
      <input ng-model="txtaccount" />
    </td>
  </tr>
  <tr>
    <td>
      <label for="txtpassword">密 码:</label>
    </td>
    <td>
      <input ng-model="txtpassword" />
    </td>
  </tr>
  <tr>
    <td>
      <label for="txtip">服务器IP: </label>
    </td>
    <td>
      <input ng-model="txtip" />
    </td>
  </tr>
  <tr>
    <td>
      <label for="txtport">服务器Port:</label>
    </td>
    <td>
      <input ng-model="txtport" />
    </td>
  </tr>
</table>
<br />
<button ng-click="click()">点击登录</button>