body {
    font-family: "Raleway", sans-serif !important;
}

#login {
    text-align: center;
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#lobby {
    text-align: center;
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#maploading {
    text-align: center;
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}