<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Simpla Admin </title>
<!--                       CSS                       -->
<!-- Reset Stylesheet -->
<link rel="stylesheet" href="resources/css/reset.css" type="text/css" media="screen" />
<!-- Main Stylesheet -->
<link rel="stylesheet" href="resources/css/style.css" type="text/css" media="screen" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<link rel="stylesheet" href="resources/css/invalid.css" type="text/css" media="screen" />
<!--                       Javascripts                       -->
<!-- jQuery -->
<script type="text/javascript" src="resources/scripts/jquery-1.3.2.min.js"></script>
<!-- jQuery Configuration -->
<script type="text/javascript" src="resources/scripts/simpla.jquery.configuration.js"></script>
<!-- Facebox jQuery Plugin -->
<script type="text/javascript" src="resources/scripts/facebox.js"></script>
<!-- jQuery WYSIWYG Plugin -->
<script type="text/javascript" src="resources/scripts/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="resources/scripts/angular.min.js"></script>
<script type="text/javascript" src="login.js"></script>
</head>
<body id="login">
<div ng-app="baseApp" ng-controller="loginCtrl">
<div id="login-wrapper" class="png_bg">
  <div id="login-top">
    <h1>Simpla Admin</h1>
    <!-- Logo (221px width) -->
    <a href="#"><img id="logo" src="resources/images/logo.png" alt="Simpla Admin logo" /></a> </div>
  <!-- End #logn-top -->
  <div id="login-content">
    <!--<form action="index.html">-->
      <div class="notification information png_bg">
        <div ng-hide="hidemessage"> {{respmessage}} </div>
      </div>
      <p>
        <label>Server</label>
        <input class="text-input" type="text" ng-model="adminserver"/>
      </p>
      <div class="clear"></div>
      <p>
        <label>Username</label>
        <input class="text-input" type="text" ng-model="username"/>
      </p>
      <div class="clear"></div>
      <p>
        <label>Password</label>
        <input class="text-input" type="password" ng-model="password"/>
      </p>
      <div class="clear"></div>
      <p>
        <input class="button" type="submit" value="Sign In" ng-click="login()"/>
      </p>
    <!--</form>-->
  </div>
  <!-- End #login-content -->
</div>
</div>
<!-- End #login-wrapper -->
</body>
</html>
